@import "setup";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

$light: #eef0f3;
$dark: #1f1b24;

$blue: #1170ff;
$green: #27b30b;
$pink: #cc0465;
$purple: #b700ba;
$red: #d10034;
$teal: #00a0a8;

.blue {
  color: $blue;
}
.green {
  color: $green;
}
.pink {
  color: $pink;
}
.purple {
  color: $purple;
}
.red {
  color: $red;
}
.teal {
  color: $teal;
}

.lightBlock {
  border-radius: 20px;
  color: $dark;
  background-color: $light;
  box-shadow: 17px 17px 34px #dddfe2, -17px -17px 34px #ffffff;
}

.darkBlock {
  background-color: $dark;
  border-radius: 20px;
  color: $light;
  box-shadow: 7px 7px 14px #1b171f, -7px -7px 14px #231f29;
}

.darkBody {
  background-color: $dark;
  color: $light;
}
.lightBody {
  background-color: $light;
  color: $dark;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $light;
  height: 100%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  width: 100%;
  padding: 0 1rem;
  line-height: 130%;
  padding-top: 6rem;
}

h3 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  // text-align: center;
  font-size: 1.5rem;
  // font-weight: 700;
}

a {
  text-decoration: none;
}

select {
  display: block;
  margin: 1.25rem auto;
  width: 80%;
  border: none;
  outline: none;
  appearance: none;
  background-color: $light;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 2rem;
  text-align: center;
  font-weight: 700;
}

.themeSwitcher {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 2.7rem;
  padding: 0;
  margin-top: 2rem;
  border: none;
  display: flex;
  border-radius: 20px;
  background-color: inherit;
  justify-content: space-between;
  .light,
  .dark {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current {
    transition: 0.1s ease-in-out;
    height: 100%;
    width: 50%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
  }

  .lightCurrent {
    transform: translate(-100%, 0);
    background: $dark;
  }

  .darkCurrent {
    transform: translate(0, 0);
    background: $light;
  }
}

button.lightBlock {
  .light {
    color: $light;
  }
  .dark {
    color: $dark;
  }
}

button.darkBlock {
  .light {
    color: $light;
  }
  .dark {
    color: $dark;
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  // border: 1px solid blue;
  width: 100%;
  border-radius: 20px;
  margin: 2rem 0;
  padding: 2rem 0;

  .cardTitle,
  .cardDescription,
  .downloadLabel {
    position: relative;
    z-index: 1;
  }

  .cardWrapper {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .cardTitle {
    font-size: 1.25rem;
    font-weight: 900;
  }

  .cardDescription {
    padding-top: 1rem;
    font-size: 1.125rem;
    font-weight: 300;
  }

  .downloadLabel {
    padding-top: 1.5rem;
    font-size: 1.125rem;
    font-weight: 900;
  }
}

.downloadBlocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 0.5rem;
  margin-left: -0.75rem;
  .downloadBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    margin: 0.75rem 0.75rem;

    p {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 130%;
      padding: 0.25rem 1rem;
      z-index: 1;
    }
  }
}

.submissionForm {
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    font-weight: 900;
    // width: 100%;
    // text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  label {
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
  }

  .raise {
    position: relative;
    z-index: 1;
  }

  input[type="text"] {
    height: 2rem;
  }

  input[type="text"],
  textarea {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    // margin-bottom: 1.25rem;
    border: none;
    -webkit-appearance: none;
    padding: 1rem;
  }

  textarea {
    height: 8rem;
    font-family: "Roboto", sans-serif;
  }

  button {
    width: 100%;
    border: none;
    height: 2rem;
    color: white;
  }

  button.lightBlock {
    color: $light;
    background-color: $dark;
    box-shadow: none;
  }

  button.darkBlock {
    color: $dark;
    background-color: $light;
    box-shadow: none;
  }

  input[type="checkbox"] {
    margin-right: 1rem;
    transform: scale(1.5);
    outline: none;
    border: 1px solid black;
  }

  .urls {
    margin-top: 1.5rem;
    input[type="text"] {
      display: none;
    }
  }

  button {
    margin-top: 2rem;
  }
}

@media (min-width: 375px) {
  h1 {
    font-size: 2.75rem;
    width: 80%;
  }
  .card {
    .cardTitle {
      font-size: 1.5rem;
    }
    .cardDescription {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 700px) {
  select {
    width: 50%;
  }
  h1 {
    font-size: 4rem;
    width: 80%;
    line-height: 110%;
  }
  h3 {
    text-align: center;
  }
  .card {
    width: 45%;
    .cardTitle {
      font-size: 1.5rem;
    }
    .cardDescription {
      font-size: 1.35rem;
    }

    .downloadLabel {
      font-size: 1.25rem;
    }
  }

  .submissionForm {
    width: 50%;
    margin: 0 auto;
    button {
      width: 50%;
      margin: 2rem auto;
    }
  }
}

@media (min-width: 1200px) {
  select {
    width: 40%;
  }
  h1 {
    font-size: 5rem;
    width: 75%;
  }
  .card {
    width: 30%;
    .cardTitle {
      font-size: 1.75rem;
    }
    .cardDescription {
      font-size: 1.5rem;
    }

    .downloadLabel {
      font-size: 1.35rem;
    }
  }

  .card:nth-child(3n + 2) {
    margin-left: 5%;
    margin-right: 5%;
  }

  .cards {
    justify-content: flex-start;
  }

  form {
    width: 30%;
    margin: 0 auto;
    h2,
    label {
      text-align: center;
    }
  }
}
